
.head {
    background-color: blue;
    color: #ff0000;
    font-style: oblique;
    text-align: center;
}

.bad {
    color: rgba(255, 255, 0, 0.959);
    background-color: violet;
    font-style: inherit;
    font-weight: bold;
}

.bat {
    color: blueviolet;
    background-color: chartreuse;
    padding-left: 100px; 
    text-align: center; 
}

.hat {
    height: 60px;
    width: 600px;
}

.img {
    height: 850px;
    width: 1200px;
}

.audio {
    margin-top: 0px;
    padding: 0;
    width: 800px;
    border: solid red 10px;
    border-radius: 100px;
    margin-left: 50px;
}

video {
    width: 600px;
    height: 400px;
}

.video-red {
    margin: 10px;
    border-radius: 20px;
    font-size: 100px;
    border-top-left-radius: 20px;
}
.form{
    padding-bottom: 0px;
    margin-bottom: 20px;
}
.bold{
    font-size: 40px;
    margin-left: 50px;
}
